<div class="conteiner" class="m-5">
    <form (ngSubmit)="Update()" novalidate #f="ngForm" class="row g-4">
        <h4>Editar Proyecto</h4>
        <div class="formGrop">
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="puesto" class="form-label">Nombre del nuevo proyecto</label>
                    <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto" [(ngModel)] = "proyecto.nombre_proyecto" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="empresa" class="form-label">Descripcion del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)] = "proyecto.descripcion" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="fecha_fin" class="form-label">Fecha de finalizacion del proyecto</label>
                    <input type="text" class="form-control" id="fecha_fin" name="fecha_fin" [(ngModel)] = "proyecto.fecha_fin" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="actividades" class="form-label">Link a foto del Proyecto</label>
                    <input type="text" class="form-control" id="fotoProyecto" name="fotoProyecto" [(ngModel)] = "proyecto.foto_proyecto" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="logo_empresa" class="form-label">Link a la evidencia</label>
                    <input type="text" class="form-control" id="evidencia" name="evidencia" [(ngModel)] = "proyecto.link_evidencia" required>
                </div>
            </div>
            <br>
            <div class="col-12" p-3>
                <button class="btn btn-primary" type="submit">Actualizar item Proyecto</button>
                <button class="btn btn-primary btn-volver" [routerLink]="['/proyectos']">Volver</button>
                
            </div>
        </div>
    </form>
</div>

