
<section>
    <a class="home" [routerLink]="['/porfolio']" ><img src="../assets/home_icon.png"></a>

    <h2 id="Proyectos">Proyectos</h2>

        <ul class="contenedor" id="lProyecto">
            <li class="itemproyecto">
                <div *ngFor="let Proyecto of proyecto" class="card" style="width: 18rem;"> 
                    <div class="card-body">
                        <div class="iconos">
                            <i class="bi bi-pen-fill btn" [routerLink]="['/editproyecto/' + Proyecto['id']]"></i>
                            <i class="bi bi-trash3-fill" (click)="eliminarProyecto(Proyecto.id)"></i>
                        </div>
                        <img class="fotoProyecto" [src]="Proyecto['foto_proyecto']" />
                        <p>
                            {{ Proyecto["nombre_proyecto"] }} <br />
                            {{ Proyecto["descripcion"] }} <br />
                            {{ Proyecto["fecha_fin"]}}<br />
                        </p>
                        <a class="button" [routerLink]="[Proyecto['link_evidencia']]">Ir a evidencia</a>
                    </div>
                </div>        
                <div class="card" style="width: 18rem">
                    <div class="card-body">
                        <div id="plus">
                            <a class="plus" [routerLink]="['/newproyecto']"><i class="bi bi-plus-circle-fill"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
</section>

<footer>
    <p>Copyright &copy; 2022 Diseño web realizado por Jesica Deluret</p>
</footer>
