section{
    background:linear-gradient(rgb(87, 199, 244), white);
    border-color: aliceblue;
    border-style: double;
    border-radius: 32px;
    padding-bottom: 20px;
    position:relative;
}
h2#Proyecto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(36, 35, 35);
    text-align: center;
    margin-top: 10px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(36, 35, 35);
    text-align: center;
    margin-top: 10px;
 
}