<div class="conteiner" class="m-5" >
    <form (ngSubmit)="Update()" novalidate #f="ngForm" class="row g-4">
        <h4>Editar Educacion</h4>
        <div class="formGrop">
            <div class="col-md-4">
                <div class="form-outline">
                    <label  class="form-label">Modificar Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)] = "educacion.titulo" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="institucion" class="form-label">Modificar nombre de la Institucion</label>
                    <input type="text" class="form-control" id="institucion" name="institucion"  [(ngModel)] = "educacion.institucion" required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="periodo" class="form-label">Modificar año en que se recibió el titulo</label>
                    <input type="text" class="form-control" id="periodo" name="periodo"  [(ngModel)] = "educacion.periodo"  required>
                </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="form-outline">
                    <label for="logo_institucion" class="form-label">Modificar URL al Logo de la Institucion</label>
                    <input type="text" class="form-control" id="logo_institucion" name="logo_institucion"  [(ngModel)] = "educacion.logo_institucion" required>
                </div>
            </div>
            <br>
            <div class="col-12" p-3>
                <button class="btn btn-primary"  type="submit">Actualizar item Educacion</button>
                <button class="btn btn-primary btn-volver" [routerLink]="['/educacion']">Volver</button>
                
            </div>
        </div>
    </form>
</div>
