
<section>
    <a class="home" [routerLink]="['/porfolio']" ><img src="../assets/home_icon.png"></a>
    <h2 id="Experiencia">Experiencia</h2>
    <div class="contenedor" >
        <div class="card" style="width: 18rem;"> 
           <div class="card-body">
             <h5 class="card-title">Empresa</h5>
             <img class="logo" src="../assets/logo-estudio.jpeg">
             <h6>Puesto</h6>
             <p class="card-text">Periodo</p>
           </div>
        </div>
        <div class="card" style="width: 18rem;"> 
          <div class="card-body">
            <h5 class="card-title">Empresa</h5>
            <img class="logo" src="../assets/logo-estudio.jpeg">
            <h6>Puesto</h6>
            <p class="card-text">Periodo</p>
          </div>
       </div>
        <div class="card" style="width: 18rem;"> 
            <div class="card-body">
              <h5 class="card-title">Empresa</h5>
              <img class="logo" src="../assets/logo-estudio.jpeg">
              <h6>Puesto</h6>
              <p class="card-text">Periodo</p>
            </div>
         </div>
         <div class="card" style="width: 18rem;"> 
            <div class="card-body">
              <h5 class="card-title">Empresa</h5>
              <img class="logo" src="../assets/logo-estudio.jpeg">
              <h6>Puesto</h6>
              <p class="card-text">Periodo</p>
            </div>
         </div>
       </div> 
</section>

<footer>
  <p>Copyright &copy; 2022 Diseño web realizado por Jesica Deluret</p>
</footer>