<section> 
    <img class="img-fluid, FotoPerfil" src="../assets/fotoperfil.jpeg">
    <h2 id="Acercade">About me</h2>
    <div id="nombre">{{miporfolio[0]['nombre']}} {{miporfolio[0]['apellido']}}</div>
    
    <br>
    <div id="Titulo">
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-rigth">
                <i class="fa fa-pen"></i>
            </a>        
        </div>
    </div>
    <div id="text-acercade">
        <p>{{miporfolio[0]['info_profesional']}}</p>
    </div>  
    <div>
        <input id="edit-acercade" type="text" oninput="myfunction1(this.value)" style="display:none">
    </div>
    
</section>

