<section> 
    <img id="FotoPerfil" src="../assets/fotoperfil.jpeg">
    <h2 id="Acercade">Acerca de</h2>
    <div id="nombre">Jesica Daiana Deluret</div>
    <br>
    <div id="Titulo">
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-rigth">
                <i class="fa fa-pen"></i>
            </a>        
        </div>
    </div>
    <div>
        <p id="text-acercade">Administrativa en Estudio contable - 
        Tecnica Superior en Administracion de empresas - 
        Fullstack Developer Jr.</p>
    </div>  
    <div>
        <input id="edit-acercade" type="text" oninput="myfunction1(this.value)" style="display:none">
    </div>
</section>

