
<section>
  <a class="home" [routerLink]="['/porfolio']" ><img src="../assets/home_icon.png"></a>
    <h2 id="Skills">Hard & Soft Skills</h2>
    
<div class="contenedor" >
 <div class="card" style="width: 18rem;">
    <i class="bateria bi-battery-half"></i>
    <div class="card-body">
      <h5 class="card-title">Trabajo en equipo</h5>
      <p class="card-text">A lo largo de los años he realizado diversas actividades como grupos de estudio, equipo de futbol, participacion en proyectos, estas me han permitido desarrollar habilidades para el trabajo en equipo.</p>
    </div>
 </div>
 <div class="card" style="width: 18rem;">
  <i class="bateria bi-battery-full"></i> 
  <div class="card-body">
    <h5 class="card-title">Capacidad Organizativa</h5>
    <p class="card-text">La capacidad de concentración, de clasificación de tareas y de planificación son aptitudes que me favorecen a la hora de Organizar el trabajo.</p>
  </div>
 </div>
 <div class="card" style="width: 18rem;">
  <i class="bateria bi-battery-half"></i> 
  <div class="card-body">
    <h5 class="card-title">Gestion del tiempo</h5>
    <p class="card-text">La realizo priorizando las tareas Urgentes e importantes, por sobre las que no lo son, fijando objetivos concretos y estableciendo tiempos para llevarlos a cabo.</p>
  </div>
 </div>
 <div class="card" style="width: 18rem;">
    <i class="bateria bi-battery-half"></i> 
    <div class="card-body">
      <h5 class="card-title">Colaboración</h5>
      <p class="card-text">Dispuesta a ayudar a otros en lo que este a mi alcance.</p>
    </div>
 </div>
 <div class="card" style="width: 18rem;">
    <i class="bateria bi-battery-charging"></i> 
    <div class="card-body">
      <h5 class="card-title">Information technology</h5>
      <p class="card-text">Manejo de lenguajes, librerias y programas: HTML, CSS, Javascrip, Java, Python, SQL, Bootstrap, Siap, Tiempo.</p>
    </div>
 </div>
 <div class="card" style="width: 18rem;">
  <i class="bateria bi-battery-full"></i> 
  <div class="card-body">
    <h5 class="card-title">Servicio al cliente</h5>
    <p class="card-text">La cordialidad, la atención a los detalles, la personalización de la interacción son algunas de las características que me ayudan en el trato con el cliente.</p>
  </div>
 </div>
 <div class="card" style="width: 18rem;">
    <i class="bateria bi-battery-charging"></i> 
    <div class="card-body">
      <h5 class="card-title">Idiomas</h5>
      <p class="card-text">Ingles, Italiano.</p>
    </div>
 </div>
</div>
</section>

<footer>
  <p>Copyright &copy; 2022 Diseño web realizado por Jesica Deluret</p>
</footer>