
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Iniciar Sesion</h3>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <br>
              <div class="form-floating mb-3">
                <input type="username" class="form-control" id="username" placeholder="name@example.com" [(ngModel)]="username" name="username" required >
                <label for="username">Usuario</label>
              </div>
              <div class="form-floating mb-3">
                
                <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password" required >
                <label for="password">Contraseña</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                  Ingresar</button><br>
                <button class="btn btn-primary btn-login text-uppercase fw-bold" [routerLink]="['/porfolio']">
                  Volver</button>
              </div>
              <hr class="my-4">
              <div><br>
              
              <br><br></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<!-- <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" 
      [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
      class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">El e-mail es requerido.</p>
        <p *ngIf="Email?.hasError('email')" class="text-danger">El formato del e-mail debe ser valido.</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" formControlName="password"
      [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
       class="form-control" id="exampleInputPassword1">
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">El password es requerido.</p>
        <p *ngIf="Password?.errors?.['minLength'].ngtsc(4111)" class="text-danger">El password debe ser de 8 o más caracteres.</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
